<?xml version="1.0" encoding="UTF-8"?>
<config>
	<general>
		<!-- 0 - don't show
			 1 - show -->
		<show_img>0</show_img>
	</general>
	<geo_params>
		<!-- if 1 - consider gps params and generate world files -->
		<geo_stats_bool>0</geo_stats_bool>
		<!-- if 1: EPSG:4326 -> EPSG:32633 (QGIS)-->
		<crs_transform>1</crs_transform>
		<!-- 1 (pixel) = var (meters) -->
		<gsd>0.0004</gsd>
		<angle>0</angle>
	</geo_params>
	<segmentation_params>
		<!-- hsv mask params -->
		<hsv_mask>
			<lowerb>
				<h>35</h>
				<s>40</s>
				<v>40</v>
			</lowerb>
			<upperb>
				<h>80</h>
				<s>255</s>
				<v>255</v>
			</upperb>
		</hsv_mask>
		<!-- gaussian blur params -->
		<gaussian_blur>
			<ksize>
				<x>11</x>
				<y>11</y>
			</ksize>
			<sigma>7</sigma>
		</gaussian_blur>
		<!-- dilation/erosion params -->
		<dil_er>
			<ksize>13</ksize>
			<iterations>8</iterations>
		</dil_er>
		<!-- resizing params -->
		<resize>
			<n_times>4</n_times>
			<ratio>0.5</ratio>
			<!-- 0 linear interpolation (INT_LINEAR)
				 1 nearest neighbour interpolation (INT_NEAREST) -->
			<interpolation>0</interpolation>
		</resize>
		<!-- labeling params -->
		<labeling>
			<!-- (min) area threshold [mq] -> 1 px = 1 / gsd^2 mq -->
			<area_thr>0</area_thr>
		</labeling>
	</segmentation_params>
</config>
